<mat-toolbar color="accent">
    <a mat-button routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span>Scoop App</span>
    </a>
    <div>
      <a mat-button routerLink="/venues" routerLinkActive="active" ariaCurrentWhenActive="page">Discover</a>
    </div>
    <div class="menu-spacer"></div>
    <div>
      <a mat-button routerLink="/user/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
      <a mat-button routerLink="/user/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
    </div>
</mat-toolbar>